---
layout: base.njk
title: "Ana Sayfa"
description: "Gürbüz Teknik Kışa Hazırlık Kampanyası"
---
<section class="hero">
  <h1>{{ business.business.name }}</h1>
  <p>Site yapım aşamasında.</p>
</section>
