---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.domain }}{{ site.base }}/</loc></url>
  <url><loc>{{ site.domain }}{{ site.base }}/kampanya/</loc></url>
  {% for area in business.service_areas %}
  <url><loc>{{ site.domain }}{{ site.base }}/{{ area.slug }}/</loc></url>
  {% endfor %}
</urlset>
